[Desktop Entry]
Type=Application
Name=Z3R Launcher
Comment=Set up, customize, randomize, and launch local Z3R projects
Exec=z3r-launcher
Icon=io.github.xander_haj.Z3RLauncher
Categories=Game;Utility;
Terminal=false
StartupNotify=true
